.page-header
  = link_to users_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t('view.right_manager.list')

  %h1= RightManager::Right.model_name.human(count: 2)+': ' + @user.right_manager_display_value.to_s

= render 'form'
